# Código da EDROM versão GitLab 11-set-2016

#Pessoais
codigoEDROM/
codigoMurilo/
referencias/
PropostaTCC*
progressoTCC*
esquemaPageSet.xlsx

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
